<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="one" class="pl.pjatk.danmak.components.One">

    </bean>
    <bean id="two" class="pl.pjatk.danmak.components.Two">
        <constructor-arg ref="one"/>
    </bean>
    <bean id="context" class="pl.pjatk.danmak.components.Context"> <!-- Nie powinienem dodawać applicationcontext jako property? -->
    </bean>
</beans>